h2{
    font-size: 1.5rem;
    align-self: flex-start;
    margin-left: 4%;
    padding: 1%;
    border-radius: 15px;
    background-color: white;
}

.info{
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 20px;
    padding: 2%;
}

.pojist{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 1%;
    border-radius: 5px;
    border-bottom: 2px solid black;
}
.pojist > *{
    width: 20%;
}

.pojisteni{
    width: 100%;
    font-size: 1.2rem;
    padding: 1%;
    border-radius: 15px;
    background-color: white;
}

.pridat{
    padding: 1%;
    border-radius: 15px;
    background-color: white;
}

.vypis{
    font-size: 1.4rem;
    width: 50%;
    margin-bottom: 1vh;
}
.val{
    color: red;
    margin-left: 3%;
    display: none;
}

@media only screen and (max-width: 500px) {
    .info{
        padding: 4%;
    }
    .vypis{
        width: 100%;
    }
}