.formPojistenec{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    padding: 1%;
}
.vytvoritPojistence{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5%;
}
.formVstup{
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 50%;
    margin: 2px 0;
}
.formVstup input{
    line-height: 25px;
    font-size: 100%;
    font-size: 100%;
    padding: .4rem .8rem;
    border-radius: 5px;
    border: 2px solid black;
}
.formVstup input:focus{
    border: 2px solid #1940ff;
}
.formVstup span{
    margin: 0;
    padding: 0;
}

#ulozitPojistence{
    margin-top: 10px;
    width: 100px;
    height: 40px;
    background-color: #1940ff;
    border: 2px solid #1940ff;
    color: white;
    font-size: 100%;
    border-radius: 10px;
}
#ulozitPojistence:hover{
    cursor: pointer;
    background-color: white;
    color: #1940ff;
}
#ulozitPojistence:active{
    filter: grayscale(80%) contrast(40%);
}

#er-Jmeno, #er-Prijmeni, #er-Email, #er-Telefon, #er-Ulice,
#er-Mesto, #er-Psc, #er-Narozeni{
    color: red;
    margin: 10px;
    display: none;
}

@media only screen and (max-width: 700px) {
    .formPojistenec{
        width: 90vw;
    }
    @media only screen and (max-width: 485px){
        .formPojistenec{
            width: 90vw;
        }
        .vytvoritPojistence{
            flex-direction: column;
        }
        .formVstup{
            width: 100%;
        }
        #ulozitPojistence{
            margin: 20px auto 0 auto;
        }
    }
}