.login{
    border: 3px solid #494949;
    border-radius: 10px;
    background-color: white;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}
.loginBunka{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 5px;
}
.loginBunka label{
    font-size: 1.1rem;
}
.loginBunka input{
    height: 1.8rem;
    font-size: 100%;
    padding-left: 5px;
}